body {
    font-family: 'Open Sans',
    sans-serif;
    color: rgb(57, 58, 60)
}
.card-container {
    width: 300px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #a09f9f77;
    margin-bottom: 30px;
}

.active {
    box-shadow: 6px 6px 6px 6px #a09f9f77;
}

.header-img {
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-weight: bold;
}
.card-body-container {
    padding: 15px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.title-container img {
    padding-left: 5px;
}

.subtitle {
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 8px;
    word-spacing: 5px;
}

Button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: rgb(45, 147, 243);
    font-size: 15px;
    font-weight: bold;
    padding-left: 0;
}

.hide {
    display: none;
}

.header-img-container {
    position: relative;
}

.series-overlay {
    width: 38%;
    height: 170px;
    background-color: rgba(18, 32, 80, 0.425);
    position: absolute;
    color:rgba(255, 255, 255, 0.801);
    right: 0;
    top: 0;
    text-align: center;
}

.series-overlay h3 {
    margin-top: 40px;
    margin-bottom: 5px;
    padding-bottom: 0;
    font-size: 25px;
}

.series-overlay p {
    margin-top: 0;
    padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
}

.series-icon {
    font-size: 25px;
}