:global(#app) {
    .card {
        box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
    }

    .layer {
        background-color: rgba(110, 115, 134, 0.555);
        position: absolute;
        margin-left: 60%;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        z-index: 1000;
        color: white;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
    }
    
    .text {
        color: white;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        text-align: center;
        padding: 40px 20px 20px 11%;
    }

    .textworkout {
        color: white;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        padding-top: 4px;
    }

    i.icon {
        padding-top: 4px!important;
    }

    .header {
        padding-top: "10px";
        font-size: "10px";
    }
  }